.button {
    padding: 2px 8px;
    color: white;
}

.props {
    display: flex;
    gap: 0.3em;
}
.reset {
    display: flex;
    justify-content: flex-end;
}
.scatter {
    overflow: auto;
    background: white;
    border-radius: var(--ifm-global-radius);
    width: 100%;
    padding: 0.5rem;
}
