.content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
    gap: 0.5em;
}

.quiz {
    --tdev-quiz-flash-color: var(--ifm-color-warning);
    &.correct {
        --tdev-quiz-flash-color: var(--ifm-color-success);
    }
    &.incorrect {
        --tdev-quiz-flash-color: var(--ifm-color-danger);
    }
    &.animate {
        animation:
            flash 1s normal,
            shake 1.5s normal;
        transform-origin: center;
    }

    @keyframes flash {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.8;
        }
    }

    @keyframes shake {
        0%,
        100% {
            transform: translateX(0) rotate(0deg);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-2px) rotate(-0.2deg);
        }
        20%,
        40%,
        60%,
        80% {
            transform: translateX(2px) rotate(0.2deg);
        }
    }
}
