.color {
    display: flex;
    padding: 0.5em 0.5em;
    margin: 0.2em 0;
    box-shadow: var(--ifm-global-shadow-lw);
    border-radius: var(--ifm-global-radius);
    align-items: center;
    background-color: rgba(199, 199, 199, 0.425);
    --rc-color: var(--ifm-color-info);
    .label {
        margin-right: 1em;
        color: black;
        padding: 0px 4px;
        white-space: nowrap;
    }
    .value {
        color: black;
        padding: 0px 4px;
        border-radius: 4px;
        margin-left: 1em;
        width: 50px;
        white-space: nowrap;
        text-align: right;
    }
    :global(.rc-slider-track) {
        background: var(--rc-color);
    }
    :global(.rc-slider-handle) {
        border-color: var(--rc-color);
    }
}
