.userTable {
    width: 100%;
    .filter {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 4em;
    }
    table.table {
        width: 100%;
        border-collapse: collapse;
        display: table;
    }
}
