.userTable {
    width: 100%;
    .filter {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 4em;
        z-index: var(--ifm-z-index-dropdown);
    }
    .tableWrapper {
        overflow-x: auto;
        table.table {
            width: 100%;
            border-collapse: collapse;
            display: table;
            .user {
                .clients {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}
