.tree {
    --trees-search-bg-override: var(--ifm-background-surface-color);
    --trees-bg-override: var(--ifm-card-background-color);
    --trees-fg-override: var(--ifm-color-content);
    --trees-fg-muted-override: var(--ifm-color-content-secondary);
    --trees-accent-override: var(--ifm-color-primary);
    --trees-border-color-override: var(--ifm-color-emphasis-300);
    --trees-border-radius-override: var(--ifm-global-radius);
    --trees-font-family-override: var(--ifm-font-family-base);
    color-scheme: light;
}

.contextMenu {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100dvh;
    overflow: auto;
    --ifm-card-background-color: var(--ifm-color-secondary-lightest);
    .menuHeader {
        display: flex;
        justify-content: flex-end;
    }
}
.fileTreeComponent {
    --trees-padding-inline-override: 0px;
}

[data-theme='dark'] {
    .tree {
        color-scheme: dark;
    }
    .contextMenu {
        --ifm-card-background-color: var(--ifm-background-color);
    }
}
