dist
node_modules
.yarn
build
coverage
.docusaurus
.github
.drone.yml
versioned_docs

*.md
*.mdx
docs/**/*.py
docs/**/*.svg
docs/**/*.xml
docs/**/*.yml
docs/**/*.yaml
docs/**/*.json

i18n
versions.json
docusaurus.config.ts
versioned_sidebars/*.json

static/katex/katex.min.css
.vscode/*.code-snippets
*.mp4
*.mp3
*.jpeg
*.jpg
*.png
static/p/reveal.js