.response {
    display: grid;
    grid-template-columns: min-content minmax(8em, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    .value,
    .name {
        border: 0px solid black;
        border-bottom-width: 1px;
        &:nth-last-child(2),
        &:last-child {
            border-bottom: 0;
        }
    }
    .name {
        padding-right: 0.25em;
        font-weight: bold;
    }
    .value {
        padding-left: 0.25em;
    }
}
