.adminPermission {
    .actions {
        margin-bottom: 1em;
        .typeFilter {
            flex-wrap: wrap;
            margin-bottom: 1em;
            .docTypeButton {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 10em;
                font-family: var(--ifm-font-family-monospace);
            }
        }
    }
    .docsTree {
        max-height: 75vh;
        overflow-y: auto;
        --ifm-list-left-padding: 1em;
        .pathItem {
            --ifm-list-left-padding: 2em;
            .page {
                border-radius: var(--ifm-global-radius);
                &:hover {
                    background-color: var(--ifm-color-emphasis-400);
                }
                .pathHeader {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .pathActions {
                        display: flex;
                        align-items: center;
                        gap: 0.25em;
                    }
                }
            }
            .docActions {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.25em;
            }
            .docItem {
                border-radius: var(--ifm-global-radius);
                &:hover {
                    background-color: var(--ifm-color-emphasis-400);
                }
                .docRoot {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .accessOverview {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.25em;
                        .typeBadge {
                            margin-right: 0.5em;
                        }
                    }
                    .permissionButton {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
.documentTypeSelector {
    .selectAllButton {
        margin-left: auto;
    }
}
