.optionsBlock {
    --tdev-assessable-btn-remove-answer-transition-duration: 0.15s;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    .optionsContainer {
        display: flex;
        flex-direction: column;

        .choiceAnswerOptionContainer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            p {
                margin: 0;
            }

            .checkboxContainer {
                display: flex;
                align-items: center;
                margin-top: 0.23em;
            }

            label {
                margin-left: 0.2em;
            }

            &:hover .btnDeleteAnswer {
                opacity: 1;
                transition: opacity var(--tdev-assessable-btn-remove-answer-transition-duration);
            }
        }

        .btnDeleteAnswerContainer {
            display: flex;
            align-items: center;
            margin-left: 0.5em;
            margin-top: 0.15em;

            .btnDeleteAnswer {
                font-size: 0.8em;
                opacity: 0;
                transition: opacity var(--tdev-assessable-btn-remove-answer-transition-duration);
                visibility: hidden;

                &.visible {
                    visibility: visible;
                }
            }
        }

        &:hover .btnDeleteAnswer {
            opacity: 0.6;
            transition: opacity var(--tdev-assessable-btn-remove-answer-transition-duration);
        }
    }
}
