.actions {
    display: flex;
    gap: 0.5em;
}
.aiTemplate {
    .definitionList {
        .jsonSchema {
            display: block;
            max-height: 30em;
            overflow-y: auto;
        }
    }
}
