.actions {
    display: flex;
    gap: 0.5em;
}
.aiTemplate {
    .definitionList {
        .displayBlock {
            display: block;
            &.jsonSchema {
                max-height: 30em;
                overflow-y: auto;
            }
        }
    }
}
