01-Onboarding/*
!01-Onboarding/_category_.yml
02-BYOD/*
!02-BYOD/_category_.yml
03-Programmieren-1/*
!03-Programmieren-1/05-functions/
!03-Programmieren-1/06-parameters/
!03-Programmieren-1/07-Variablen/
!03-Programmieren-1/08-Verzweigungen/
!03-Programmieren-1/09-While/
!03-Programmieren-1/10-Gruefnisch/
!03-Programmieren-1/11-Repefragen/
!03-Programmieren-1/12-rekursion/
!03-Programmieren-1/21-mistakes.mdx
!03-Programmieren-1/50-Test/
!03-Programmieren-1/51-Tests.mdx
!03-Programmieren-1/_category_.yml
03-Programmieren-1/_category_.json