01-BYOD/*
02-Programmieren-1/*
!02-Programmieren-1/02-Turtlegrafik/_category_.json
03-Word/*
02-Programmieren-1/10-IN-Biber/*
04-Webseiten/*
05-Daten-und-Codes/*
100-Mathematik/01-Taschenrechner/*
100-Mathematik/01-Taschenrechner/_category_.json
05-Daten-und-Codes/_category_.json