01-BYOD/*
!01-BYOD/_category_.yml
03-Word/*
!03-Word/_category_.yml
04-Webseiten/*
!04-Webseiten/_category_.yml
06-BigData-KI/*
!06-BigData-KI/_category_.yml
07-Kryptologie/*
!07-Kryptologie/08-Asymmetrisch/99-Experiment-RSA.mdx
!07-Kryptologie/_category_.yml
08-Rechnerarchitektur/*
!08-Rechnerarchitektur/_category_.yml
100-Mathematik/01-Taschenrechner/*
100-Mathematik/02-Quadratische-Funktionen/*
09-Programmieren-2/*
!09-Programmieren-2/_category_.yml
09-Programmieren-2/_category_.json