.inputs {
    display: flex;
    flex-basis: 6em;
    gap: 1em;
    .colorInput {
        max-width: 4em;
    }
}
.output {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
    .card {
        flex-basis: 200px;
        flex-grow: 1;
        position: relative;
        .downloadBadge {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
        }
    }
}
