.browserWindow {
    position: relative;
    .actions {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        display: flex;
        align-items: center;
        background: var(--ifm-color-secondary);
        button {
            line-height: 0;
        }
    }
}
.docCardList {
    box-shadow: var(--ifm-global-shadow-md);
    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .body {
        display: flex;
        justify-content: center;
    }
}
