01-BYOD/*
!01-BYOD/_category_.yml
02-Programmieren-1/*
!02-Programmieren-1/02-Turtlegrafik/_category_.json
03-Word/*
02-Programmieren-1/10-IN-Biber/*
04-Webseiten/*
05-Daten-und-Codes/*
06-BigData-KI/*