.mdxEditor {
    margin: 1em 1px;
    box-shadow: var(--ifm-global-shadow-md);
    border: 1px solid var(--ifm-color-secondary-darkest);
    border-radius: var(--ifm-global-radius);
    .toolbar {
        top: 60px;
    }
}
