.pageReadCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--ifm-global-radius);
    .status {
        margin-left: 240px;
        min-width: 4em;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-end;
        .minReadTime {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    @keyframes flash {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
    }

    @keyframes shake {
        0%,
        100% {
            transform: translateX(0);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-5px);
        }
        20%,
        40%,
        60%,
        80% {
            transform: translateX(5px);
        }
    }
    &.animate {
        animation:
            flash 1s normal,
            shake 1.5s normal;
        transform-origin: center;
    }
}
