.name {
    .nameInput {
        font-weight: bold;
        font-size: 85%;
        padding: 0.25em 0.5em;
    }
}
.value {
    display: flex;
    width: 100%;
    .input {
        padding-right: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .stickyActions {
        position: sticky;
        right: 0;
        .actions {
            position: absolute;
            display: flex;
            align-items: center;
            right: 0;
            top: 0;
        }
    }
    &.string,
    &.number,
    &.boolean,
    &.nullish {
        .input {
            padding-right: 3.2em;
        }
    }
}
