.item {
    position: relative;
    .icon {
        position: absolute;
        right: 0.5em;
        top: 0;
        z-index: 0;
        &.category {
            right: 3em;
        }
    }
    &:has(> .icon:hover) {
        > li:has(+ .icon:hover) {
            > a,
            > div {
                background: var(--ifm-menu-color-background-hover);
            }
        }
    }
}
