.state {
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;

    margin-bottom: var(--ifm-paragraph-margin-bottom);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;

    .checkbox {
        font-size: 1.2rem;
        border-radius: var(--ifm-global-radius);
        padding: 4px;
        &:hover {
            filter: brightness(0.85);
        }
        &.readonly {
            filter: brightness(0.85);
        }
    }
    &.dummy {
        .checkbox {
            border: 2px solid var(--ifm-color-danger);
            padding: 2px;
        }
    }
}

:global(.theme-admonition) {
    position: relative;
    & > div[class^='admonitionContent'] {
        & > :first-child.state {
            position: absolute;
            top: 10px;
            left: 8px;
            margin-bottom: 0;
            &.loader {
                top: 14px;
                left: 16px;
                background-color: var(--ifm-alert-background-color);
            }
        }
    }
}
