.editor {
    display: block;
    width: 100%;
    // resize: vertical;
    resize: none;
}

.canvas {
    display: block;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: 400px;
    object-fit: contain;
}