.editor {
    width: 100%;

    .textAreaWrapper {
        position: relative;
    }

    .editorTextArea {
        display: block;
        width: 100%;
        resize: vertical;
        min-height: 100px;
        max-height: 600px;
        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }

    .stateIcons {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
}

.canvas {
    display: block;
    max-height: 400px;
    max-width: 100%;
    width: auto;
    height: 400px;
    object-fit: contain;
}

.hidden {
    display: none;
}