.preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .edit {
        position: absolute;
        top: 0;
        right: 0;
    }
}
