.actions {
    display: flex;
    gap: 0.5em;
}
.aiTemplate {
    .definitionList {
        .displayBlock {
            display: block;
            &.jsonSchema {
                max-height: 30em;
                overflow-y: auto;
            }
        }
        .actions {
            display: flex;
            justify-content: space-between;
            gap: 0.5em;
        }
    }
}
