.main {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    width: 140px;
    height: 140px;
    border: 1px solid black;
    margin: 1em auto;
    div {
        width: 40px;
        height: 40px;
        background-color: lightgray;
        transition-duration: 0.5s;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        &:hover {
            border-radius: 50%;
            transform: scale(1.5);
            background-color: lightblue;
        }
        &:first-child {
            background-color: red;
        }
        &:last-child {
            background-color: green;
        }
    }
}
