.file {
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    &:hover {
        box-shadow: var(--ifm-global-shadow-md);
    }
    .actions {
        display: flex;
    }
    .fileLink {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 0.25em;
    }
}
