.js {
    scrollbar-width: thin;
    padding-bottom: 0.25em;
    padding-left: 2px;
    --tdev-js-editor-indent-size: 0.75em;
    &:not(.noName) {
        display: grid;
        grid-template-columns: minmax(5em, 1fr) minmax(min-content, 5fr);
        grid-template-rows: auto;
    }
    .name {
        font-weight: bold;
    }
}

.jsObjectEditor {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    .spacer {
        flex: 1;
        flex-basis: 0;
        min-width: 0;
    }
}
.actions {
    margin-bottom: 1em;
}
