.overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    // padding: 15em 0;

    .content {
        overflow: scroll;
        height: 80vh;
    }
}
