/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #232a40;
    --ifm-color-primary-dark: #20263a;
    --ifm-color-primary-darker: #1e2436;
    --ifm-color-primary-darkest: #191d2d;
    --ifm-color-primary-light: #262e46;
    --ifm-color-primary-lighter: #28304a;
    --ifm-color-primary-lightest: #2e3753;

    --ifm-link-color: #677dc3;

    --ifm-code-font-size: 85%;

    --ifm-background-color: white;
    --ifm-card-background-color: #f7f7f7;

    --ifm-blockquote-shadow: var(--ifm-global-shadow-md);
    --docusaurus-highlighted-code-line-bg: #f7f7be;

    .index-page-title {
        .hero__subtitle {
            color: rgb(197, 197, 197);
        }
    }
    .table-of-contents__link:hover,
    .table-of-contents__link:hover code,
    .table-of-contents__link--active,
    .table-of-contents__link--active code {
        color: var(--ifm-link-color);
    }
    section.footnotes {
        border-top: 1px solid var(--ifm-color-primary-lightest);
        margin-top: 5rem;
        padding-top: 1em;
        #footnote-label {
            display: none;
        }
    }
}

html[data-theme='dark'] {
    --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0, 119, 110, 0.1);
    --ifm-global-shadow-md: 0 4px 12px rgba(0, 119, 110, 0.1);
    --ifm-global-shadow-tl: 0 8px 16px 0 rgba(0, 119, 110, 0.08), 0 2px 4px 0 rgba(0, 119, 110, 0.05);
    --ifm-background-color: #1b1b1d;

    --ifm-link-color: #677dc3;
    --ifm-color-primary: #4d5c8d;
    --ifm-color-primary-dark: #45537f;
    --ifm-color-primary-darker: #414e78;
    --ifm-color-primary-darkest: #364063;
    --ifm-color-primary-light: #55659b;
    --ifm-color-primary-lighter: #596aa2;
    --ifm-color-primary-lightest: #6c7caf;
    --ifm-card-background-color: #242526;
    --ifm-color-snow: white;
    --ifm-color-blue-contrast-background: #102445;
    --docusaurus-highlighted-code-line-bg: #4c4515;

    --ifm-blockquote-shadow: 0 5px 40px rgba(77, 92, 141, 0.3);

    .index-page {
        background: #232a40;

        .index-page-title {
            color: white;
        }
    }
}

#__docusaurus {
    .navbar--fixed-top:not(.navbar-sidebar--show) {
        backdrop-filter: blur(8px);
        --ifm-navbar-background-color: #ffffff9e;
    }

    .clean-btn.theme-back-to-top-button {
        backdrop-filter: blur(1px);
        --ifm-color-emphasis-200: #ebedf081;
    }
}
html[data-theme='dark'] {
    #__docusaurus {
        .navbar--fixed-top:not(.navbar-sidebar--show) {
            --ifm-navbar-background-color: #2425269e;
        }
    }
}

div[class^='navbarSearchContainer'] {
    position: static;
    padding: 0;
    .DocSearch.DocSearch-Button {
        border-radius: 50%;
        height: 34px;
        width: 34px;
        margin: 0;
        margin-left: 0.2em;
        padding: 0;
        &:hover {
            background-color: var(--ifm-hover-overlay);
        }
        .DocSearch-Button-Container {
            margin: 0 auto;
            .DocSearch-Button-Placeholder {
                display: none;
            }
        }
        .DocSearch-Button-Keys {
            display: none;
        }
    }
}

div.no-search {
    div[class^='navbarSearchContainer'] {
        display: none;
    }
}

.slim,
.smallTable,
.slim-table,
.small-table {
    overflow-x: auto;
    table {
        th,
        td {
            padding: 0.2em;
        }
    }
}

.center {
    table {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
}

.no-header,
.no-table-header {
    overflow-x: auto;

    table {
        thead {
            display: none;
        }
    }

    &.top table td {
        vertical-align: top;
    }
}

.footnotes {
    --ifm-list-paragraph-margin: 0;
    --ifm-paragraph-margin-bottom: 0;
    --ifm-list-margin: 0;
}

.flex-cards > .card > .card__body {
    h4 {
        margin-bottom: 0.25em;
        &:not(:first-child) {
            margin-top: 0.75em;
        }
    }
}

.compactDeflist {
    [class^='definitionList_'] {
        grid-template-columns: minmax(3em, auto) minmax(10em, 2fr);
    }
}

div.theme-layout-navbar-sidebar-panel,
nav.menu {
    .theme-doc-sidebar-menu {
        --tdev-sidebar-color: transparent;
        .library-item {
            border-left: 4px solid var(--tdev-sidebar-color);
            border-radius: 4px;
            &.tdev {
                --tdev-sidebar-color: var(--ifm-color-info);
            }
            &.inf-of {
                --tdev-sidebar-color: var(--ifm-color-blue);
            }
            &.competition {
                --tdev-sidebar-color: var(--ifm-color-warning);
            }
            &.inf-wms {
                --tdev-sidebar-color: rgb(23, 195, 0);
            }
            &.math {
                --tdev-sidebar-color: var(--ifm-color-danger-darker);
            }
        }
    }
}
